*{
    padding: 0px;
    margin: 0px;
    
}
body {
    
    
    font-family: 'Noto Sans TC', sans-serif;
    background:url(../img/login%201.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
        
}
.container{
    
    width: 1140px;
   height: 0px, auto;
    
    
}
.login-form{
    
    background-color: #438279eb;
    padding: 30px;
    margin-top: 300px;
    margin-bottom:0px;
    margin-left: 250px;
    margin-right: 500px;
}
.login-form h2{
    background-color:black;
    color: white;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 10px;
   
    
    
}
.login-form img{
    margin: auto;
    display: block;
    width: 120px;
    height: 120px;
}
.form-control{
    background-color:snow;
    width:  30%;
    height: 20px;
    margin-bottom: 4px;
}
.button{
    background-color: #866767;
    margin:0px, auto;
    display:top block;
    padding: 2px 05px;
    
    
}
.button:hover{
   
    box-shadow:2px 4px 5px pink; 
}
.Btn{
    
   background-color: #866767;
    margin:0px, auto;
    display:top block;
    padding: 2px 05px; 
}
.Btn:hover{
   
    box-shadow:2px 4px 5px fuchsia;
    
}



.Btn1{
    
   background-color: #866767;
    margin:0px, auto;
    display:top block;
    padding: 2px 05px; 
}
.Btn1:hover{
   
    box-shadow:2px 4px 5px fuchsia;
        
}
